h1{
    background-color: gray;
    text-align: center;
    color: white;
}
table{
  background-color: gray;
  width: 100%;
}
table tr th {
    font-size: 24px;
  }
  table td {
    border: 1px solid black;
  }
  button{
      float: right;
  }
  table, td, td {
    border: 1px solid black;
}